<!-- <h2>Hello World!</h2>
<app-navbar></app-navbar>
<app-post [fromParent]="parentMessage" (childEvent)="receiveMessage($event)"></app-post>
<p>{{ mP }}</p>
<h4>{{ eeMessage }}</h4>
<app-post-form></app-post-form> -->
<!-- <app-directives></app-directives> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-forms></app-forms> -->
<!-- <app-custom-validators></app-custom-validators> -->
<h2>Angular Routing</h2>
<button class="btn btn-primary" routerLink="/" routerLinkActive="active">Home</button>
<button class="btn btn-secondary" routerLink="/routerDemo" routerLinkActive="active">To router</button>
<br>
<router-outlet></router-outlet>
